:host {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
:host > * {
  width: 49%;
}

.code-pane pre {
  white-space: pre-wrap;
  height: 100%;
  margin-bottom: 0;
  code {
    height: 100%;
  }
}
