<h1>unjQuerify</h1>
<p>unjQuerify is a tool developers can use to migrate an existing codebase dependant on jQuery to vanilla JavaScript.</p>

<h2>What's wrong with jQuery?</h2>
<p>The web has come a long way since the creation of jQuery in 2006. At its inception, the web was fraught with
  <a href="https://dzone.com/articles/internet-explorer-8-fix-event-">browser incompatibilities</a>. Now, web APIs
  have evolved to be more standardized and developer-friendly. This removes part of the need for jQuery, and can reduce
  bloat on webpages, removing unnecessary page loading times, increasing performance, and allowing the web to progress.</p>

<h2>How does this tool help?</h2>
<p>TODO</p>

<h2>Further reading</h2>
<ul>
  <li><a href="http://youmightnotneedjquery.com/">You might not need jQuery</a></li>
  <li><a href="https://github.com/nefe/You-Dont-Need-jQuery">You don't need jQuery</a></li>
  <li><a href="https://docs.google.com/document/d/1LPaPA30bLUB_publLIMF0RlhdnPx_ePXm7oW02iiT6o/edit">What does jQuery do for you?</a></li>
</ul>
