app-dual-pane-comparison {
  display: block;
  margin-bottom: 10px;
}

code {
  height: 100%;
  overflow-y: hidden;
}

pre {
  overflow-y: hidden;
}

:host /deep/ .popover {
  max-width: 500px;
}
