<h1>Source selection</h1>
<div class="card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item" *ngFor="let type of uploadTypes">
        <a href="#" [ngClass]="{'nav-link': true, active: (selected$ | async) === type}" (click)="selectedUploadType$.next(type); false">{{type}}</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <ng-container [ngSwitch]="selectedUploadType$ | async">
      <ng-template [ngSwitchCase]="'Example'">
        <h2 class="card-title">Try an example</h2>
        <p class="card-subtitle text-muted mb-2">Choose from a variety of samples to get a feel for the transformations.</p>
        <div class="form-group">
          <select class="form-control" (change)="selectedExample$.next($event.target.value)">
            <option *ngFor="let example of examples" [value]="example">{{example}}</option>
          </select>
        </div>
        <div class="form-group">
          <pre class="form-control"><code highlight [textContent]="exampleCode$ | async"></code></pre>
        </div>
        <button class="btn btn-primary" [routerLink]="['result', 'example', selectedExample$ | async]">unjQuerify</button>
      </ng-template>
      <ng-template [ngSwitchCase]="'URL'">
        <h2 class="card-title">From URL</h2>
        <p class="card-subtitle text-muted mb-2">Use an URL to specify a target file.</p>
        <form>
          <div class="form-group">
            <input type="url" placeholder="URL..." class="form-control">
          </div>
          <button class="btn btn-primary" [routerLink]="['result', 'example', 'example']">unjQuerify</button>
        </form>
      </ng-template>
      <ng-template [ngSwitchCase]="'Upload'">
        <h2 class="card-title">From Upload</h2>
        <p class="card-subtitle text-muted mb-2">Use an uploaded file.</p>
        <form>
          <div class="form-group">
            <input type="file" class="form-control-file">
          </div>
          <button class="btn btn-primary" [routerLink]="['result', 'example', 'example']">unjQuerify</button>
        </form>
      </ng-template>
      <ng-template [ngSwitchCase]="'Input'">
        <h2 class="card-title">From Input</h2>
        <p class="card-subtitle text-muted mb-2">Write your code in the input box below.</p>
        <form (submit)="submitText(textInput.value)">
          <div class="form-group">
            <textarea #textInput class="form-control text-monospace" placeholder="jQuery code">{{inputPlaceholder}}</textarea>
          </div>
          <input type="submit" class="btn btn-primary" value="unjQuerify">
        </form>
      </ng-template>
    </ng-container>
  </div>
</div>
